
.introSeparatorTop {
    background-image: linear-gradient(
            90deg,
            #000 28px,
            transparent 0,
            transparent calc(50% - 14px),
            #000 calc(50% - 14px),
            #000 calc(50% + 14px),
            transparent calc(50% + 14px),
            transparent calc(100% - 28px),
            #000 calc(100% - 28px),
            #000
    ),
    linear-gradient(
            90deg,
            #000 4px,
            transparent 0,
            transparent calc(50% - 2px),
            #000 calc(50% - 2px),
            #000 calc(50% + 2px),
            transparent calc(50% + 2px),
            transparent calc(100% - 4px),
            #000 calc(100% - 4px),
            #000
    );
    background-repeat: no-repeat;
    background-size:
            100% 4px,
            100% 28px;
    height: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.introSeparatorBottom {
    background-image: linear-gradient(
            90deg,
            #000 28px,
            transparent 0,
            transparent calc(50% - 14px),
            #000 calc(50% - 14px),
            #000 calc(50% + 14px),
            transparent calc(50% + 14px),
            transparent calc(100% - 28px),
            #000 calc(100% - 28px),
            #000
    ),
    linear-gradient(
            90deg,
            #000 4px,
            transparent 0,
            transparent calc(50% - 2px),
            #000 calc(50% - 2px),
            #000 calc(50% + 2px),
            transparent calc(50% + 2px),
            transparent calc(100% - 4px),
            #000 calc(100% - 4px),
            #000
    );
    background-repeat: no-repeat;
    background-size:
            100% 4px,
            100% 28px;
    height: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    transform: rotateX(180deg);
}