.wrapper {
    width: 100%;
    height: 200px;
    display: table;
    border: 5px solid #111;
    margin: 50px auto;
    padding: 20px;
    position: relative;
}

.wrapper:after,
.wrapper:before {
    content: "";
    position: absolute;
    font-family: "Arial Black";
    font-size: 50px;
    color: #111;
    background: #fcee09;
}

.wrapper:after {
    content: "\0022";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 0 #fcee09;
}

.wrapper:before {
    content: "\0022";
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    box-shadow: -10px -10px 0 #fcee09;
}

.title,
.description {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.description {
    font-size: 14px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px 0 0;
}

.title small {
    display: block;
    font-size: 25px;
    text-align: right;
}

.border-radius {
    border-radius: 30px;
}

.text-right {
    text-align: right;
}
